In [1]:
import requests
URL = 'http://data.eastmoney.com/bbsj/stock600057/yjbb.html'
URL = 'http://data.eastmoney.com/bbsj/201612/yjbb.html'
html = requests.get(URL)
with open('test.html','w',encoding='utf-8') as f:
     f.write(html.text)

In [2]:
from pathlib import Path

def get_yjbb_online(year):
    urlBase = 'http://dcfm.eastmoney.com//em_mutisvcexpandinterface/api/js/get?type=NBJB_YJBB_N&token=70f12f2f4f091e459a279469fe49eca5&st=NOTICEDATE&sr=-1&p=1&ps=100000&js=var%20ybkWjYRZ={pages:(tp),data:%20(x)}&filter=(REPORTDATE=^'
    url = urlBase + str(year) + '-12-31^)'
    html = requests.get(url)
    reportlist = (eval('[{}]'.format(html.text.split('[')[1][:-2])))
    reportdf = pd.DataFrame(data=reportlist, columns=reportlist[0].keys())
    reportdf = (reportdf[reportdf.SECUCODE.str[0].isin({'0','3','6','7'})])
    return reportdf
    

def get_yjbb_df(year):
    fileName = './data/yjbb/{year}.csv'.format(year=year)
    file = Path(fileName)
    if (file.exists()):
        reportdf = pd.read_csv(fileName, encoding='utf-8')
        reportdf['SECUCODE'] = reportdf.apply(lambda x: '%06d' % x['SECUCODE'], axis=1)
        return reportdf
    reportdf = get_yjbb_online(year)
    reportdf.to_csv(fileName, index=False, encoding='utf-8')
    return reportdf

In [3]:
import MyStock as ms
from importlib import reload

reload(ms)
test = ms.MyStock()

In [4]:
test.yjbbs.columns

Index(['SECUCODE', 'SECUNAME0', 'EPSJB0', 'EPSKCJB0', 'YS0', 'YSTZ0', 'YSHZ0',
       'SJL0', 'SJLTZ0', 'SJLHZ0', 'BPS0', 'ROEPJ0', 'MGXJJE0', 'XSMLL0',
       'LRFP0', 'GXL0', 'NOTICEDATE0', 'REPORTDATE0', 'TYPE0', 'COMPANYCODE0',
       'SECUNAME1', 'EPSJB1', 'EPSKCJB1', 'YS1', 'YSTZ1', 'YSHZ1', 'SJL1',
       'SJLTZ1', 'SJLHZ1', 'BPS1', 'ROEPJ1', 'MGXJJE1', 'XSMLL1', 'LRFP1',
       'GXL1', 'NOTICEDATE1', 'REPORTDATE1', 'TYPE1', 'COMPANYCODE1',
       'SECUNAME2', 'EPSJB2', 'EPSKCJB2', 'YS2', 'YSTZ2', 'YSHZ2', 'SJL2',
       'SJLTZ2', 'SJLHZ2', 'BPS2', 'ROEPJ2', 'MGXJJE2', 'XSMLL2', 'LRFP2',
       'GXL2', 'NOTICEDATE2', 'REPORTDATE2', 'TYPE2', 'COMPANYCODE2',
       'SECUNAME3', 'EPSJB3', 'EPSKCJB3', 'YS3', 'YSTZ3', 'YSHZ3', 'SJL3',
       'SJLTZ3', 'SJLHZ3', 'BPS3', 'ROEPJ3', 'MGXJJE3', 'XSMLL3', 'LRFP3',
       'GXL3', 'NOTICEDATE3', 'REPORTDATE3', 'TYPE3', 'COMPANYCODE3',
       'SECUNAME4', 'EPSJB4', 'EPSKCJB4', 'YS4', 'YSTZ4', 'YSHZ4', 'SJL4',
       'SJLTZ4', 'SJLHZ4', 'BPS4', 'ROEPJ4', 'MGXJJE4', 'XSMLL4', 'LRFP4',
       'GXL4', 'NOTICEDATE4', 'REPORTDATE4', 'TYPE4', 'COMPANYCODE4',
       'rec_report_date'],
      dtype='object')

In [5]:
test.yjbbs['NOTICEDATE3']

0       2017-03-18
1       2017-11-25
2       2018-01-08
3       2017-04-26
4       2017-02-25
5       2017-10-31
6       2017-04-27
7       2017-04-25
8       2017-02-27
9       2017-04-28
10      2017-02-14
11      2017-03-09
12      2017-09-11
13      2017-03-21
14      2017-04-21
15      2017-04-27
16      2017-12-11
17      2017-04-10
18      2017-04-27
19      2017-05-10
20      2017-03-23
21      2017-08-07
22      2017-03-13
23      2017-10-25
24      2017-04-06
25      2017-03-06
26      2017-03-13
27      2017-04-18
28      2017-04-25
29      2017-04-20
           ...
3457    2017-07-19
3458    2017-04-20
3459    2017-03-30
3460    2017-03-21
3461    2017-04-08
3462    2017-04-22
3463    2017-04-15
3464    2017-04-25
3465    2018-01-12
3466    2017-09-20
3467    2017-04-28
3468    2017-04-26
3469    2017-04-13
3470    2017-04-26
3471    2017-04-21
3472    2017-04-11
3473    2017-04-07
3474    2017-03-22
3475    2017-03-10
3476    2017-04-29
3477    2017-04-28
3478    2017-04-12
3479    2017-03-15
3480    2017-03-22
3481    2017-03-25
3482    2018-01-22
3483    2017-10-13
3484    2017-06-15
3485    2017-03-28
3486           NaN
Name: NOTICEDATE3, Length: 3487, dtype: object

In [6]:
test.watch()

D:\zzz\Anaconda3\lib\site-packages\pandas\core\indexing.py:337: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
D:\zzz\Anaconda3\lib\site-packages\pandas\core\indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [7]:
test.stockGDF[['SECUCODE','SECUNAME3', 'SJLTZ', 'peg_report_date', 'peg', 'pe_report_date', 'pe', 'price_now', 'rec_report_date', 'price_report_date', '涨幅'] 
              + ['SJLTZ'+str(i) for i in range(5)]][(test.stockGDF.peg_report_date < 0.5) & (test.stockGDF.SJLTZ < 100) & (test.stockGDF.peg_report_date > 0)]

,SECUCODE,SECUNAME3,SJLTZ,peg_report_date,peg,pe_report_date,pe,price_now,rec_report_date,price_report_date,涨幅,SJLTZ0,SJLTZ1,SJLTZ2,SJLTZ3,SJLTZ4
952,300182,捷成股份,80.382885,0.34,0.30,26.98,24.24,9.83,2017-03-25,10.086,-0.025382,39.572891,30.876492,102.761514,80.382885,NaN
1098,002078,太阳纸业,58.516953,0.28,0.28,16.51,16.21,12.29,2017-04-25,6.962,0.765297,61.402234,64.713334,42.200230,58.516953,NaN
1575,600326,西藏天路,73.029334,0.46,0.25,33.67,17.92,9.12,2017-03-28,9.682,-0.058046,111.521974,1207.604635,129.600610,73.029334,NaN
1650,600537,亿晶光电,53.860045,0.40,1.11,21.42,59.63,3.89,2017-04-25,6.376,-0.389900,110.007039,74.015656,94.785210,53.860045,NaN
2463,600340,华夏幸福,35.219454,0.35,0.46,12.41,16.34,44.87,2017-03-30,26.805,0.673941,52.212253,30.301089,35.709461,35.219454,NaN
2695,600094,大名城,83.765071,0.21,0.24,17.96,20.29,7.14,2017-04-25,8.018,-0.109504,35.191063,35.224929,32.367553,83.765071,NaN
3216,600816,安信信托,76.172235,0.23,0.21,17.23,15.64,12.85,2017-01-25,11.080,0.159747,159.651816,266.066285,68.256129,76.172235,NaN
3251,002019,亿帆医药,95.456052,0.28,0.22,26.63,21.20,20.26,2017-03-31,16.747,0.209769,78.850900,102.224196,51.559307,95.456052,NaN

In [8]:
test.stockGDF[['SECUCODE','SECUNAME3', 'SJLTZ', 'peg_report_date', 'peg', 'pe_report_date', 'pe', 'price_now', 'rec_report_date', 'price_report_date', '涨幅'] 
              + ['SJLTZ'+str(i) for i in range(5)]][(test.stockGDF.peg_report_date < 0.4) & (test.stockGDF.SJLTZ < 100) & (test.stockGDF.peg_report_date > 0)].describe()

,SJLTZ,peg_report_date,peg,pe_report_date,pe,price_now,price_report_date,涨幅,SJLTZ0,SJLTZ1,SJLTZ2,SJLTZ3,SJLTZ4
count,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,0.0
mean,71.585442,0.281667,0.285000,19.620000,18.986667,17.873333,13.283000,0.278978,71.146859,88.234388,55.475699,71.585442,NaN
std,21.493504,0.056362,0.092466,5.889543,3.467274,13.934298,7.451081,0.361956,46.120909,91.465115,26.516238,21.493504,NaN
min,35.219454,0.210000,0.210000,12.410000,15.640000,7.140000,6.962000,-0.109504,35.191063,30.301089,32.367553,35.219454,NaN
25%,62.930774,0.242500,0.225000,16.690000,16.242500,10.445000,8.535000,0.020901,42.732731,31.963601,37.332154,62.930774,NaN
50%,78.277560,0.280000,0.260000,17.595000,18.315000,12.570000,10.583000,0.184758,56.807243,49.969132,46.879769,78.277560,NaN
75%,82.919525,0.325000,0.295000,24.462500,20.972500,18.407500,15.330250,0.557898,74.488733,92.846480,64.081924,82.919525,NaN
max,95.456052,0.350000,0.460000,26.980000,24.240000,44.870000,26.805000,0.765297,159.651816,266.066285,102.761514,95.456052,NaN

In [9]:
test.stockGDF[['SECUCODE','SECUNAME3', 'SJLTZ', 'peg_report_date', 'peg', 'pe_report_date', 'pe', 'price_now', 'rec_report_date', 'price_report_date', '涨幅'] 
              + ['SJLTZ'+str(i) for i in range(5)]][(test.stockGDF.peg < 0.4) & (test.stockGDF.SJLTZ < 100) & (test.stockGDF.peg_report_date > 0)]

,SECUCODE,SECUNAME3,SJLTZ,peg_report_date,peg,pe_report_date,pe,price_now,rec_report_date,price_report_date,涨幅,SJLTZ0,SJLTZ1,SJLTZ2,SJLTZ3,SJLTZ4
952,300182,捷成股份,80.382885,0.34,0.30,26.98,24.24,9.83,2017-03-25,10.086,-0.025382,39.572891,30.876492,102.761514,80.382885,NaN
1098,002078,太阳纸业,58.516953,0.28,0.28,16.51,16.21,12.29,2017-04-25,6.962,0.765297,61.402234,64.713334,42.200230,58.516953,NaN
1575,600326,西藏天路,73.029334,0.46,0.25,33.67,17.92,9.12,2017-03-28,9.682,-0.058046,111.521974,1207.604635,129.600610,73.029334,NaN
1972,300287,飞利信,88.274664,0.56,0.29,49.04,25.82,7.60,2017-04-27,9.533,-0.202769,30.185875,40.199690,95.099535,88.274664,NaN
2537,002129,中环股份,98.937249,0.55,0.39,54.40,38.87,8.88,2017-04-08,9.060,-0.019868,172.954011,84.397297,52.964414,98.937249,NaN
2695,600094,大名城,83.765071,0.21,0.24,17.96,20.29,7.14,2017-04-25,8.018,-0.109504,35.191063,35.224929,32.367553,83.765071,NaN
2884,600400,红豆股份,95.515286,0.92,0.16,88.33,15.46,6.47,2017-03-29,6.909,-0.063540,73.376327,36.724732,31.375399,95.515286,NaN
3216,600816,安信信托,76.172235,0.23,0.21,17.23,15.64,12.85,2017-01-25,11.080,0.159747,159.651816,266.066285,68.256129,76.172235,NaN
3251,002019,亿帆医药,95.456052,0.28,0.22,26.63,21.20,20.26,2017-03-31,16.747,0.209769,78.850900,102.224196,51.559307,95.456052,NaN

In [10]:
df.columns

NameError: name 'df' is not defined

In [ ]:
df[df.SECUCODE.str[0].isin({'0','3','6','7'})]

In [ ]:
import MyStock as ms
test = ms.MyStock()

In [ ]:
df14 = (test.get_data('report', year=2014))

In [ ]:
s14 = set(df14['code'].values)

#### pd.DataFrame(data=reportlist, columns=reportlist[0].keys()).to_csv('test.csv')

In [ ]:
s = set(df['SECUCODE'].astype(int).values)

In [ ]:
len(s14)

In [ ]:
len(s)

In [ ]:
s14-s

In [ ]:
s-s14